@import "../../styles/theme.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 51px;
  border-radius: 8px;
  border: none;
  padding: 16px 24px;
  color: $white;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background: $bg-linear-blue;
}

.danger {
  background: $bg-linear-red;
}

.ligth {
  background-color: $gray-100;
  color: $black;
}
