@import "../../../styles/theme.module.scss";

.container {
  display: flex;
  align-items: center;
  border: 1px dashed $gray-300;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  gap: 16px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid transparent;
    background-color: $white-secondary;

    &:hover {
      cursor: pointer;
    }
  }

  .task-label {
    flex: 1;
  }

  .checked {
    text-decoration: line-through;
    color: $opacity-black;
  }

  .trash-icon {
    color: $gray-400;
    transition: color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $red-100;
    }
  }

  .buttons {
    display: flex;
    gap: 16px;

    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
    }
  }

  .modal-text {
    color: $opacity-black;
  }
}
